.banner {
  display: block;
  margin: 0 auto;
}

.entry {
  padding: 80px 0;
  max-width: 720px;
  margin: 0 auto;

  h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    color: var(--heading);
  }

  time {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 4rem;
  }

  section {
    width: 100%;

    h2 {
      font-size: 2rem;
      margin-bottom: 3rem;
    }

    h2, h3, h4, h5, h6 {
      color: var(--heading);
    }

    p, li {
      font-size: 1.125rem;
      line-height: 140%;
      margin-bottom: 1.5rem;
    }

    li {
      list-style-position: inside;
    }

    a {
      color: var(--accent);

      &:hover {
        text-decoration: underline;
      }
    }

    & + section {
      margin-top: 3rem;
    }
  }
}