p.hero {
  font-size: 1.5rem;
  width: 75%;
  margin-bottom: 7rem;
}

section.journal {
  margin-bottom: 4.75rem;

  h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--heading);
    margin-bottom: 4rem;
  }
}

section.projects {
  margin-bottom: 8.25rem;

  h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--heading);
    margin-bottom: 4rem;
  }
}