section.journal {
  margin-bottom: 4.75rem;

  h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--heading);
    margin-bottom: 4rem;
  }

  button {
    background: none;
    border: none;
    color: var(--accent);

    &:hover {
      text-decoration: underline;
    }

    &:disabled {
      color: var(--disabled);
      cursor: default;
    }
  
    &:hover:disabled {
      text-decoration: none;
    }
  }
}