section.projects {
  margin-bottom: 36.3rem;

  h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--heading);
    margin-bottom: 4rem;
  }

  table {
    width: 100%;
    margin: 0 auto;

    thead {
      text-align: left;
      
      th {
        font-size: 1rem;
        font-weight: 600;
      }
    }
  }
}